<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
</head>

<body>
  <header>
    <nav>
        <ul>
            {% if user.is_authenticated %}
                <li>
                <a href="{% url 'home' %}">Receipts</a>
             </li>
                <li>
                <a href="{% url 'logout' %}">Logout</a>
                </li>
                <li>
              <a href="{% url 'create_receipt' %}">Create receipt</a>
              </li>
              <li>
                <a href="{% url 'list_categories' %}">Categories</a>
                </li>
                <li>
                  <a href="{% url 'account_list' %}">Accounts</a>
                  </li>
                  <li>
                    <a href="{% url 'create_category' %}">Create category</a>
                    </li>
                    <li>
                      <a href="{% url 'create_account' %}">Create account</a>
                    </li>
            {% else %}
                <li>
                <a href="{% url 'signup' %}">Sign Up</a>
                </li>
                <li>
              <a href="{% url 'login' %}">Login</a>
              </li>
            {% endif %}
        </ul>
    </nav>
  </header>
  <main>
        <div>
            <h1>Create account</h1>
            <form method='post'>
            {% csrf_token %}
            {{ form.as_p }}
            <button>Create</button>
            </form>
        </div>
  </main>
</body>

</html>