<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
</head>

<body>
  <header>
    <nav>
        <ul>
            {% if user.is_authenticated %}
                <li>
                <a href="{% url 'home' %}">Receipts</a>
             </li>
                <li>
                <a href="{% url 'logout' %}">Logout</a>
                </li>
                <li>
              <a href="{% url 'create_receipt' %}">Create receipt</a>
              </li>
              <li>
                <a href="{% url 'list_categories' %}">Categories</a>
                </li>
                <li>
                  <a href="{% url 'account_list' %}">Accounts</a>
                  </li>
                  <li>
                    <a href="{% url 'create_category' %}">Create category</a>
                    </li>
                    <li>
                      <a href="{% url 'create_account' %}">Create account</a>
                    </li>
            {% else %}
                <li>
                <a href="{% url 'signup' %}">Sign Up</a>
                </li>
                <li>
              <a href="{% url 'login' %}">Login</a>
              </li>
            {% endif %}
        </ul>
    </nav>
  </header>
  <main>
    <h1>My Receipts</h1>
        
<table>
   <thead>
    <tr>
        <th>Vendor</th>
        <th>Total</th>
        <th>Tax</th>
        <th>Date</th>
        <th>Category</th>
        <th>Account</th>
    </tr>
   </thead>
   <tbody>
    {% for receipt in receipt_list %}
    <tr>

        <td>{{ receipt.vendor }}</td>
        <td>{{ receipt.total }}</td>
        <td>{{ receipt.tax }}</td>
        <td>{{ receipt.date }}</td>
        <td>{{ receipt.category }}</td>
        <td>{{ receipt.account }}</td>
    </tr>
    {% endfor %}
   </tbody>
</table>
  </main>
</body>

</html>